@font-face {
    font-family: Farsan;
    src: url("Farsan-Regular.ttf");
    font-style: normal;
    font-size: 15px;

}
@font-face {
    font-family: Creattion;
    src: "Creattion Demo.otf";
    font-style: normal;
}
h1 {
    font-family: Farsan;
    font-size: 15px;
    font-variant: small-caps;

}