body {
    background-color:#FDF2E9;
    margin-top:0;
}
h1 {
    font-family: 'THSarabunNewRegular';
    font-weight: 700;
    text-align: center;
    font-size: 50px;
    margin-left: 50px;
    margin-top:0;
    margin-bottom: 15px;
    padding-top:10px;
    padding-bottom:10px;
 }
 div {
    background-image: url("16.jpg");
    border-radius: 30px;
    padding: 20px;
 }
 section {
    font-family: 'THSarabunNewRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    text-align:center;
    margin-left: 50px;
    margin-bottom: 10px;
 }
 .story {
    font-family: 'THSarabunNewRegular';
    font-size: 20px;
    text-align: left;
    column-count: 2;
    margin-top:0;
    column-width: 100px;
    column-gap: 30px;
    column-rule: 1px solid black;
    margin-top:10px;
    margin-left: 50px;
    margin-right: 50px;
    
 }
 h3 {
    text-align: center;
    column-span: all;
 }
 .photo {
    column-span: all;
    text-align: center;
 }